<div class="breadcurm">
  <span style="color: red;">Trang chủ</span> /
  <span style="color: #705c23;">Hệ thống</span> /
  <span style="color: #141f85;">Quản lý khu vực</span>
</div>
<div class="header-component">
  <h2>Quản lý khu vực</h2>
  <button nz-button nzType="primary" nzDanger>
    <span><i nz-icon nzType="plus-circle" ></i></span>
    <span>Thêm mới</span>
  </button>
</div>
<div nz-row class="search-component">
  <div class="search-component-chilrd" nz-col nzSpan="12">
    <span class="form-item-lable">Mã khu vực</span>
    <input class="form-item-field" nz-input placeholder="Nhập mã khu vực" />
  </div>
  <div class="search-component-chilrd" nz-col nzSpan="12">
    <span class="form-item-lable">Tên khu vực</span>
    <input class="form-item-field" nz-input placeholder="Nhập tên khu vực" />
  </div>
</div>
<div nz-row class="search-component">
  <div class="search-component-chilrd" nz-col nzSpan="12">
    <span class="form-item-lable">Vùng</span>
    <select class="form-item-field" placeholder="Chọn vùng">
      <option value="volvo">Việt Nam</option>
      <option value="saab">America</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>
  </div>
  <div class="search-component-chilrd" nz-col nzSpan="12">
    <span class="form-item-lable">Trạng thái</span>
    <select class="form-item-field" placeholder="Chọn trạng thái">
      <option value="active">Hoạt động</option>
      <option value="lock">Khóa</option>
    </select>
  </div>
</div>
<div style="text-align: center;margin-top: 25px;">
  <button nz-button nzType="primary" nzDanger>
    <span><i nz-icon nzType="plus-circle" ></i></span>
    <span>Tìm kiếm</span>
  </button>
</div>
<table style="margin-top: 25px;">
  <tr>
    <th>STT</th>
    <th>Mã khu vực</th>
    <th>Tên khu vực</th>
    <th>Mã Vùng</th>
    <th>Trạng thái</th>
    <th>Thao tác</th>
  </tr>
  <tr>
    <td>1</td>
    <td>KV1</td>
    <td>Mexico</td>
    <td>01-Miền Bắc</td>
    <td>Hoạt động</td>
    <td><i style='font-size:16px;color:red; margin-right: 10px' class='fas'>&#xf044;</i><i style='font-size:16px;color:red;' class='fas'>&#xf2ed;</i></td>
  </tr>
  <tr>
    <td>2</td>
    <td>KV2</td>
    <td>Austria</td>
    <td>02 - Miền trung</td>
    <td>Khóa</td>
    <td><i style='font-size:16px;color:red; margin-right: 10px' class='fas'>&#xf044;</i><i style='font-size:16px;color:red;' class='fas'>&#xf2ed;</i></td>
  </tr>
  <tr>
    <td>3</td>
    <td>KV3</td>
    <td>UK</td>
    <td>03 - Miền Nam</td>
    <td>Chờ hoạt động</td>
    <td><i style='font-size:16px;color:red; margin-right: 10px' class='fas'>&#xf044;</i><i style='font-size:16px;color:red;' class='fas'>&#xf2ed;</i></td>
  </tr>
  <tr>
    <td>4</td>
    <td>KV4</td>
    <td>Canada</td>
    <td>06 - Miền Tây</td>
    <td>Hủy</td>
    <td><i style='font-size:16px;color:red; margin-right: 10px' class='fas'>&#xf044;</i><i style='font-size:16px;color:red;' class='fas'>&#xf2ed;</i></td>
  </tr>
  <tr>
    <td>5</td>
    <td>KV5</td>
    <td>Italy</td>
    <td>07 - Miền Đông</td>
    <td>Chuyển trả</td>
    <td><i style='font-size:16px;color:red; margin-right: 10px' class='fas'>&#xf044;</i><i style='font-size:16px;color:red;' class='fas'>&#xf2ed;</i></td>
  </tr>
  <tr>
    <td>6</td>
    <td>KV6</td>
    <td>Germany</td>
    <td>08 - Miền Nam Trung Bộ</td>
    <td>Khóa vĩnh viễn</td>
    <td><i style='font-size:16px;color:red; margin-right: 10px' class='fas'>&#xf044;</i><i style='font-size:16px;color:red;' class='fas'>&#xf2ed;</i></td>
  </tr>
</table>