<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="https://www.seabank.com.vn/assets/images/brands/logo-seabank4.png" [style.width]="!isCollapsed ? '70%': '0%' " alt="logo">
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nzMatchRouter nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
        <i nz-icon nzType="home"></i>
        <span>Trang chủ</span>
      </li>

      <li nz-submenu nzOpen nzTitle="Hệ thống" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Quản lý khu vực</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Quản lý nhóm quyền</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Quản lý hạch toán</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Danh mục" nzIcon="unordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Danh mục đơn vị</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Danh mục chung</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          <span style="margin-left: 15px;">HỆ THỐNG QUẢN LÝ TẬP TRUNG</span>
        </span>
        <span style="margin-right: 25px;">
          <span style="margin-right: 15px;cursor: pointer;"><i nz-icon nzType="search" nzTheme="outline"></i></span>
          Hi, Admin
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>